{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="register" method="post">
            {% csrf_token %}
            <input style="margin-top: 40px;" type="text" autocomplete="off" placeholder="Give yourself a username"
                name="username" required autofocus maxlength="15">
            <input type="email" autocomplete="off" placeholder="Type your email id" name="email" required>
            <input type="password" autocomplete="off" placeholder="Put a strong password" name="password1" required>
            <input type="password" autocomplete="off" placeholder="Confirm password" name="password2" required>
            <div class="buttons-line">
                <input type="submit" value="Register">
                <a class="button" href="login">Already have an account? </a>
                <a class="button" href="/">Home</a>
            </div>
        </form>
</body>

</html>